.App {
  text-align: center;
}

.PortfolioContent {
  display: flex;
  padding: 15px;
}

.contact-paper {
  padding: 20px;
}

.icon {
  font-size: 6em;
  padding: 0px 100px;
}

.img-portfolio {
  max-width: 100%;
}
